.personalInformation {
    /* position: absolute; */
    left: 560px;
    border-radius: 7.5px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #DCDBDA
}

.edit-button {
    position: relative;
    left: 372.5px;
}

#avatar {
    margin: 20px;
    position: relative;
    left: 160px;
}

.complaint-button {
    position: relative;
    bottom: 160px;
    left: 550px
}

.block-button {
    position: relative;
    bottom: 140px;
    left: 550px
}