.blocklist {
    padding: 0;
    margin: 0;
    height: 100%;
}

.blocklistTable {
    top: 20px;
    left: 40px;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
  }
    
table {
    border: 1px solid black;
    width: 90%;
    height: fit-content;
}

th {
    font-size: larger;
    padding: 10px;
    border-bottom: 2px solid black;
}

td {
    padding: 10px;
    text-align: center;
    font-size: medium;
}

.header-tr {
    color: black;
}

.rt-tr-group {
    background: blanchedalmond;
}

.rt-tr-group:nth-of-type(even){
    background: white;
}

.buttonRow {
    justify-content: center;
    display: flex;
}

.blockButton {
    height: 25px;
    width: 90px;
    font-size: medium;
}

tr td u{
    color: mediumblue;
}

.userEmail {
    cursor: pointer;
}