#history-container {
    background-color: #FDF6EC;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    /* position: absolute; */
    /* left: 560px; */
    /* top: 185px;  */
    min-height: 740px;
    min-width: 100%;
    border-radius: 7.5px;
}