.side-menu-one {
  width: 80%; 
  height: 800px;
  border-radius: 5px;
  /* background-color: #F7E2E2;  */
  background-color: #FDF6EC; 
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  float:left;
  margin-right: 40px;
}

Button {
  display: block;
}

.panel-container {
  float:left;
}

.side-menu-and-panel-container {
  display: grid;
  justify-content: center;
  grid-template-columns: 300px 650px;
  margin-left: 50%;
  margin-right: 50%;
}