
#item-card {
    box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);
    height: 200px;
    min-width: 600px;
    background: blanchedalmond;
    border-radius: 25px;
    display: block;
    margin: 15px;
}
#img-container {
    float: left;
}
#item-information-container {
    padding: 10px;
    float: left;
}

#item-information-container h1 {
    display: block;
    font-family: serif
}

#item-information-container h3 {
    display: block;
}

#item-information-container h3 {
    display: block;
}

.item-img{
    height: 200px;
    width: 200px;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
}

#item-header {
    cursor: pointer;
}

.button-group {
    display: flex;
}

#failCompleteButtonInHistory {
    color: black
}