.wishlist {
    padding: 0;
    margin: 0;
    height: 100%;
}

.header {
    top: 10px;
    left: 40px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.block {  
    box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.15);
    border-radius: 25px; 
    border: 1px solid transparent;
    left: 40px;
    margin-top: 10px;
    max-width: 90%;  
    padding: 10px;
    background-color: blanchedalmond;
    overflow: hidden;
    position: relative;
}

.block p {  
    margin: 2px;  
}

.title {  
    font-size: x-large;
    position: relative;
    cursor: pointer;
}

.image {  
    border-radius: 5px;
    height: 160px;
    max-width: 30%;
    margin-right: 50px;
    padding: 15px;
    overflow: hidden;
    position: relative;
}

.post {
    display: flex;
    align-items: center;
 }

.summary {
    font-size: large;
    vertical-align: middle;
    float: right;
    position: relative;
}

.summary ul {
    vertical-align: middle;
    list-style-type: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
  }
  
.summary li {
    float: left;
    margin-right: 20px;
}
