.wishlist {
    padding: 0;
    margin: 0;
    height: 100%;
}

.header {
    top: 10px;
    left: 40px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.block {  
    border: 1px solid black;
    left: 40px;
    margin-top: 10px;
    max-width: 90%;  
    padding: 10px;
    overflow: hidden;
    position: relative;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
li {
    float: left;
    margin-right: 20px;
}
  
.block p {  
    margin: 2px;  
}  
  
  
.block span {  
    font-weight: bold;  
}  

table {  
    border: 1px solid black;  
    padding: 10px;  
    max-width: 1000px;  
    margin-top: 10px; 
    position:relative;
    float:left;
} 

table, td, th {  
    border-collapse: collapse;  
    border: 1px solid black;  
}  
  
td, th {  
    min-width: 200px;  
} 