.createPostBackground{
    border-radius: 15px;
    float: left;
    margin-top: 50px;
    margin-left: 5%;
    margin-right: 8%;
    width: 90%;
    height: fit-content;
    /* max-height: 1000px; */
    /* background-color: #FDF6EC; */
    background-color: #F7E9D7 /*#F3E5D8 /*#fdf6ec*/;
    position: relative;
}

.createPostHeader{
    top: 30px;
    left: 40px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#createPostText{
    font-size: 40px;
    font-weight: bold;
    margin-left: 2%;
    /* margin-top: 10%; */
}

#publishButton{
    float:right;
    background-color: #C65D7B;
    font-size: 18px;
    color:rgb(252, 251, 249);
    margin-right: 8%;
    margin-left: 2%;
}

#uploadButton{
    /* float: left; */
    margin-left: 30%;
    margin-top: 15%;
    background-color: #C65D7B;
    font-size: 18px;
    color:cornsilk;
}

.postImageArea{
    float: left;
    margin-left: 2%;
    width: 35%;
    height: 400px;
    position: relative;
}

#postImageDiv{
    float: left;
    width: 70%;
    margin-left: 5%;
    margin-top: 5%;
    border: 1px solid #ddd;
}

#postImage{
    width:100%;
    height:100%;
    /* object-fit: contain; */
}

.postContentArea{
    float: left;
    margin-top: 10px;
    margin-right: 3%;
    width: 60%; 
    height: 700px;
    margin-bottom: 50px;
    overflow: auto;
}

.postContentItem{
    float: left;
    height: 40px;
    margin-bottom: 2%;
    /* margin-right: 4%; */
    margin-top: 2%;
    /* margin-left: 2%; */
}

.textBox{
    float: left;
    max-height: fit-content;
    margin-left: 5%;
}
#errorMsg{
    margin-left: 25%;
    font-size: 20px;
    color: red;
}
#categoryBox{
    /* float: left; */
    max-height: fit-content;
    margin-left: 5%;
    margin-top: 1%;
}

.createPostDeliveryOptionArea{
    overflow: auto;
    float: left;
    margin-left: 4%;
    margin-bottom: 50px;
    width: 35%;
    height: 200px;
    position: absolute;
    top: 500px;
}


.text{
    font-size: 28px;
    font-weight: bold;
}

.textItem{
    float: left;
    margin-top: 10px;
    font-size: 25px;
    margin-right: 10px;
}

.deliveryOption{
    font-size: 30px;
}

.deliveryOptionForm{
    margin-top: 2%;
}

.image-form__message--success {
    color: green;
  }
  
  .image-form__message--error {
    color: red;
  }
  