.postBackground{
    float: left;
    margin-top: 30px;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    max-height: 1000px;
    background-color: rgb(247, 235, 193);
    position: relative;
}

.postHeader{
    margin-top: 2%;
    margin-left: 4%;
    height: 50px;
}

#createPostText{
    font-size: 50px;
    font-weight: bold;
    font-family: fantasy;
}

#publishButton{
    float: right;
    background-color: rgb(220, 70, 127);
    font-size: 18px;
    color:cornsilk;
    margin-right: 3%;
    margin-top: 15px;
}

#uploadButton{
    /* float: left; */
    margin-left: 30%;
    margin-top: 15%;
    background-color: rgb(220, 70, 127);
    font-size: 18px;
    color:cornsilk;
}

.postImageArea{
    float: left;
    margin-top: 50px;
    margin-left: 4%;
    width: 40%;
    height: 450px;
    background-color: rgb(220, 217, 217);
    position: relative;
}

#postImageDiv{
    float: left;
    width: 60%;
    margin-left: 20%;
    margin-right: 10%;
    margin-top: 5%;
    border: 1px solid #ddd;
}

#postImage{
    width:100%;
    height:100%;
    object-fit: contain;
}

.postContentArea{
    float: left;
    margin-top: 40px;
    margin-left: 4%;
    margin-right: 2%;
    width: 48%;
    height: 700px;
    background-color: gainsboro;
    margin-bottom: 50px;
    overflow: auto;
}

.postContentItem{
    float: left;
    height: 40px;
    margin-bottom: 2%;
    margin-right: 4%;
    margin-top: 2%;
    margin-left: 2%;
}

.textBox{
    float: left;
    max-height: fit-content;
    margin-left: 5%;
}

.deliveryOptionArea{
    overflow: auto;
    float: left;
    margin-top: 3%;
    margin-left: 4%;
    margin-bottom: 50px;
    width: 40%;
    height: 200px;
    background-color: gainsboro;
    position: absolute;
    top: 550px;
}

.text{
    margin-left: 5%;
    font-size: 28px;
    font-weight: bold;
    font-family: fantasy;
}

.textItem{
    float: left;
    margin-top: 10px;
    margin-left: 2%;
    font-size: 25px;
    font-weight: bold;
    font-family: fantasy;
    margin-right: 10px;
}

.deliveryOption{
    font-size: 30px;
}

.deliveryOptionForm{
    margin-left: 5%;
}