.searchPage {
    padding: 0;
    margin: 0;
    height: 100%;
}

.filterbar {
    margin: 0;
    display: inline-block;
}

.filter {
    top: 10px;
    left: 40px;
    position: relative;
    display: inline-block;
}

.dropdown {
    left: 100px;
    margin-top: 10px;
    margin-right: 70px;
    vertical-align: middle;
    position: relative;
    display: inline-block;
}

.button {
    background-color: goldenrod;
    color: white;
    padding: 15px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    position: relative;
}

.dropdown:hover .button {
    background-color: burlywood;
}
  
.dropdown-content {
    background-color: #f1f1f1;
    width: max-content;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    display: none;
    position: absolute;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.header {
    top: 10px;
    left: 40px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.block {  
    border: 1px solid black;
    left: 40px;
    margin-top: 10px;
    max-width: 90%;  
    padding: 10px;
    background-color: blanchedalmond;
    overflow: hidden;
    position: relative;
}

.block p {  
    margin: 2px;  
}

.title {
    color: black;
    font-size: x-large;
    left: 15px;
    position: relative;
}

.image {  
    height: 160px;
    max-width: 30%;
    margin-right: 50px;
    padding: 15px;
    overflow: hidden;
    position: relative;
}

.post {
    display: flex;
    align-items:center;
 }

.summary {
    font-size: large;
    vertical-align: middle;
    float: right;
    position: relative;
}

.summary ul {
    vertical-align: middle;
    list-style-type: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
  }
  
.summary li {
    float: left;
    margin-right: 20px;
}
