.searchPage {
    padding: 0;
    margin: 0;
    height: 100%;
}

.filterbar {
    margin: 0;
    display: inline-block;
}

.filter {
    top: 10px;
    left: 40px;
    position: relative;
    display: inline-block;
}

.dropdown {
    left: 80px;
    margin-top: 10px;
    margin-right: 40px;
    vertical-align: middle;
    position: relative;
    display: inline-block;
}

.button {
    /*background-color: burlywood;*/
    /*background-color: #FFC98B;*/
    /*background-color: #C65D7B;*/
    /*background-color: #f6e7d8;*/
    background-color: #e7b8b9 /*#feb8b8 #fe9e9f #e7b8b9*/;
    color: white;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    position: relative;
    border-radius: 5px;
}

.dropdown:hover .button {
    /*background-color: burlywood;*/
    /*background-color: #F68989;*/
    background-color: #efb3bd;
}
  
.dropdown-content {
    background-color: #f1f1f1;
    width: max-content;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    display: none;
    position: absolute;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.header {
    top: 10px;
    left: 40px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.block {
    box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.15);
    border-radius: 25px;  
    border: 1px solid transparent;
    left: 40px;
    margin-top: 10px;
    max-width: 90%;  
    padding: 10px;
    /*background-color: blanchedalmond;*/
    /*background-color: #ffbeba;*/
    /*background-color: #f6e7d8;*/
    background-color: #F7E9D7 /*#f5d7cd #f5d7cd #f3eae4*/;
    overflow: hidden;
    position: relative;
}

.block p {  
    margin: 2px;  
}

.title {
    color: black;
    font-size: x-large;
    left: 15px;
    position: relative;
    cursor: pointer;
}

.image {  
    border-radius: 5px;
    height: 160px;
    max-width: 30%;
    margin-right: 50px;
    padding: 15px;
    overflow: hidden;
    position: relative;
}

.post {
    display: flex;
    align-items:center;
 }

.summary {
    font-size: large;
    vertical-align: middle;
    float: right;
    position: relative;
}

.summary ul {
    vertical-align: middle;
    list-style-type: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
  }
  
.summary li {
    float: left;
    margin-right: 20px;
}

#app-bar {
    width: auto;
    height: 120px;
    background-color: #ffbeba;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}