

#requestNowButton, #saveButton{
    float: right;
    background-color: rgb(220, 70, 127);
    font-size: 18px;
    color:cornsilk;
    margin-right: 3%;
    margin-top: 15px;
}

.postPageTextBox{
    float: left;
    max-height: fit-content;
}

.postContentItems{
    overflow: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 4%;
}

.textTitleItem{
    float: left;
    font-size: 25px;
    font-weight: bold;
    font-family: fantasy;
    margin-right: 2%;
}


.textContentItem{
    margin-left: 2%;
    font-size: 24px;
    font-weight: bold;
    font-family: fantasy;
    margin-right: 10px;
}

.viewPostText{
    /* width: 100%; */
    margin-left: 5%;
    font-size: 28px;
    font-weight: bold;
    font-family: fantasy;
}

#postpageImageDiv{
    float: left;
    position: absolute;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    border: 1px solid #ddd;
}

#postpageImage{
    max-width:100%;
    max-height:100%;
    object-fit: contain;
}

#imagelabel{
    margin-left: 30%;
    margin-top: 50px;
}

#categoryBox{
    margin-left: 20%;
}