
#viewDonorDoneeButton{
    float:right;
    background-color: #C65D7B;
    font-size: 16px;
    color:rgb(255, 255, 255);
    margin-left: 2%;
    margin-right: 10%;
    margin-bottom: 2%;
}

#failCompleteButton{
    float: right;
    background-color: #C65D7B;
    font-size: 16px;
    color:rgb(255, 255, 255);
    margin-left: 2%;
}

#postLoginButton{
    float:left;
    background-color: #C65D7B;
    font-size: 16px;
    color:rgb(255, 255, 255);
    margin-right: 2%;
}

#requestNowButton{
    float:left;
    background-color: #C65D7B;
    font-size: 16px;
    color:rgb(255, 255, 255);
    margin-right: 2%;
}

#wishListButton{
    float: left;
    background-color: #C65D7B;
    font-size: 16px;
    color:rgb(255, 255, 255);
    margin-right: 2%;
}

#saveButton{
    float: right;
    background-color: #C65D7B;
    font-size: 18px;
    color:cornsilk;
    margin-top: 10px;
}

#chooseDoneeButton{
    float:left;
    background-color: #C65D7B;
    font-size: 16px;
    color:rgb(255, 255, 255);
    margin-left: 3%;
}
.postBackground{
    border-radius: 15px;
    float: left;
    margin-top: 50px;
    margin-left: 5%;
    margin-right: 8%;
    width: 90%;
    height: fit-content;
    /* max-height: 1000px; */
    background-color: #FDF6EC;
    position: relative;
}

.postPageTextBox{
    float: left;
    max-height: fit-content;
}

#postHeader{
    font-size: 32px;
    font-weight: bold;
}

.postHeader{
    height: 155px;
    top: 30px;
    left: 5%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#goBackDiv{
    width: 100%;
}

#backButton{
    float:left;
}

.postContentItems{
    overflow: auto;
    margin-bottom: 10px;
    margin-top: 12px;
    margin-left: 4%;
}


.deliveryOptionArea{
    overflow: auto;
    float: left;
    margin-left: 4%;
    margin-bottom: 50px;
    width: 35%;
    height: 200px;
    position: absolute;
    top: 450px;
}

.textTitleItem{
    float: left;
    font-size: 25px;
    margin-right: 10px;
}
.left{
    float: left;
}
.right{
    float: right;
}
#descriptionBox{
    height: 100%;
}

.textContentItem{
    margin-left: 2%;
    font-size: 25px;
    margin-right: 10px;
}
.descriptionContentItem{
    font-size: 24px;
    margin-right: 10px;
}

.viewPostText{
    margin-left: 4%;
    font-size: 28px;
    font-weight: bold; 
}

#postpageImageDiv{
    float: left;
    width: 80%;
    margin-left: 5%;
    margin-top: 5%;
    height: 60%;
}

#postpageImage{
    width:100%;
    height:100%;
}

#imagelabel{
    margin-left: 30%;
    margin-top: 50px;
}

#categoryBox{
    margin-left: 20%;
}

.postpageDeliveryOptionArea{
    overflow: auto;
    float: left;
    margin-left: 6%;
    margin-bottom: 50px;
    width: 35%;
    height: 200px;
    position: absolute;
    top: 320px;
}

#postpageCategoryBox{
    max-height: fit-content;
    margin-left: 5%;
}

.statusMsg{
    float: left;
    font-size: 24px;
    color:#C65D7B
}
