#appbar-logo{
    width: 30%;
    height: 100%;
    float:left;
    margin-left: 2%;
    margin-top: 1%;
}

#logo{
    width: 100%;
}

#searchArea{
    width: 25%;
    float: left;
    color: #555;
    display: flex;
    padding: 2px;
    border: 1px solid currentColor;
    border-radius: 5px;
    margin-top: 3%;
    margin-left: 2%;
}


#searchBox{
    /* width: 150%;
    height: 200%; */
    /* float: left;
    display: block; */
    border: none;
    background: transparent;
    margin: 0;
    padding: 7px 8px;
    font-size: 18px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
    width: 100%;

}

#searchButton{
  width: 80px;
  float: left;
  /* position:relative;
  left: 30%; */
  font-size: 16px;
}

.navigationMenu {
    float: right;
    width: 40vw;
    margin-top: 2%;
}

.navigationMenu nav ul li{
    margin-left: 4%;
    text-align: center;
    display: inline-block;
}