#faqBtn{
    margin-right: 10px;
}

.style {
  background-color: #E8E8E8;
  text-align: center;
  padding: 7px;
  height: 65px;
  width: 100%;
}

.phantom {
display: flex;
width: 100%;
}

ul {
  text-decoration: none;
}